h1 {
    color:red;
}
button {
    color:pink;
    background-color: green;
    box-shadow: inset;
}
body {
    background-color:aqua;
}
a  {
    color:black;
    text-decoration: NONE;
}
h1 {
    color:pink;
    
}
#heading1 {
    color:black;
    display:inline; /*jitna jaruri hai utna he width le ga */
}
#heading2 {
    color:green;

}
#heading3{
    color:blue;
}
#heading4{
    color:blueviolet;
}
.head {
color:red;
}

#box {
    background-color:blue;
    color:red;
}
P {
    text-align: left;
    text-decoration:line-through ;
    text-decoration:darkorange underline;
    text-transform: uppercase;
   
    
}
h5 {
    text-align: center;
    color:blue;
     height: 50pxpx;
    border: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    
}
#font {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
 #ins {
    height: 50;
    width: 200px;
    border: 2px;
    border-style: double;
    border-color:blueviolet;
    background-color: red;
 }
 div{
    height: 100px;
    width: 100px;
    background-color: red;
    border-color: pink;
    border-style: double;
    text-align: center;
    border-radius: 10%;
    padding:50px

 }
 #display{
    text-align: center;
    border-style: solid;
    background-color: beige;
    text-decoration: solid;
    text-decoration-color: rgba(1, 0, 0, 0.5);
    /*display: inline; hight or wieth kam karna*/
    /*display:block kisi ko span se block element me convert karna*/
    /*display:none; element ko deleat karna  visibility rahey ga */
    

 }




